/*
            * * *    E L E M E N T E   &   S E L E K T O R E N   * * *
 */
* {
    /* Rand um die eigentliche Seite verhindern */
    margin: 0;
    padding: 0;
    /* alle Rahmen besitzen nun die gleiche Außengröße, Padding und Rahmenbreite haben darauf keinen Einfluss mehr */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    color: #2E2E2E;
    font-family: "Open Sans", Arial, sans-serif;
}

a, a:visited {
    color: DodgerBlue;
    text-decoration: none;
}

h1 {
    margin-bottom: 20px;
    font-family: "Permanent Marker", Arial, sans-serif;
}

h3 {
    margin: 60px 0 30px 0;
    font-family: "Permanent Marker", Arial, sans-serif;
    text-shadow: #474747 2px 1px 0;
    font-size: 2em;
    text-align: center;
    color: orangered;
}

h4 {
    margin: 45px 0 15px 0;
    font-family: "Permanent Marker", Arial, sans-serif;
    font-size: 1.5em;
    color: dimgray;
}

h5 {
    margin-top: 30px;
    font-family: "Permanent Marker", Arial, sans-serif;
    font-size: 1em !important;
    color: dimgray;
}

header {
    font-family: "Amatic SC", Arial, sans-serif;
    font-size: 2em;
    text-align: center;
}

header a {
    display: inline-block;
    padding: 50px 0;
}

header img {
    /* eigentlich für das Logo in der Titelüberschrift (H1)*/
    width: 70%;
}

header p {
    line-height: 140% !important;
}

a img {
    /* eigentlich nur für die Grafik im Header mit dem Link zum Spiel */
    min-width: 40%;
    max-width: 80%;
}

article {
    margin: 80px 0 20px 0;
    padding: 10px;
    min-height: 300px;
}

p {
    /* wie bei einer Hausarbeit - quasi doppelter Zeilenabstand :-) */
    line-height: 200%;
    padding-bottom: 1.5em;
}

ul {
    list-style: square inside none;
    font-size: 0.85em;
    padding: 0 0 25px 30px;
    text-indent: -1em;
}

ol {
    list-style-position: inside;
    font-size: 0.85em;
    padding: 0 0 25px 30px;
}

/*
            * * *    K L A S S E N   * * *
 */
.defaultlist ul {
    list-style: square inside none !important;
    display: inline !important;

}

.defaultlist li {
    list-style: square inside none !important;
    display: block !important;
    padding: 5px !important;
    width: 100% !important;
    font-size: 1.5em !important;
}

.smaller {
    font-size: 0.7em;
}

.innerwrapper {
    /* weiße Fläche für den content */
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
    border: solid 1px silver;
    background-color: white;
}

.img_text {
    font-size: 0.6em;
    margin-top: -20px;
}

.pictureright_labelcontainer {
    padding-bottom: 40px;
}

/*       --- Profile sollen per Liste in einer Zeile dargestellt werden ---*/
.profilelist {
    text-align: center;
    width: 100%;
}

.profilelist li {
    display: inline-block;
    list-style-type: none;
    padding: 50px;
}

.profileimgcontainer {
    /* runde Profilbilder */
    display: inline-block;
    min-width: 150px;
    height: 150px;
    background-size: 150px 150px;
    border-radius: 50%;
}

.simon {
    background-image: url('../images/doc/team/simon.jpg');
}

.dennis {
    background-image: url('../images/doc/team/dennis.jpg');
}

/*       --- code Formatierungen  ---*/
.code {
    background-color: lavender;
    border: 1px dashed lightblue;
    padding: 0 5px;
    font-family: monospace
}

.methodname {
    color: orangered !important;
    font-weight: bold;
}

/*       --- Spezifikation - verwendete Technologien  ---*/
.outerspeclist {
    text-align: center;
    width: 100%;
}

.outerspeclist li {
    display: inline-block;
    padding: 20px;
    width: 33%;
    text-indent: 0;
    list-style-type: none;
    vertical-align: top;
}

.innerspeclist {
    width: 100%;
}

.innerspeclist ul {
    display: block !important;
    padding: 0;
}

.innerspec-item {
    display: block !important;
    min-width: 150px;
    width: 100% !important;
    padding: 5px !important;
    border: 1px solid silver;
    font-weight: bold;
}

.innerspec-item:first-child {
    height: 205px;
    background-size: 150px 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 0;
    text-align: center;
}

.innerspec-item:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 0;
    font-weight: normal;
    padding: 15px 5px !important;
}

/* Quelle: https://github.com/voodootikigod/logo.js */
.img_js {
    background: url('../images/doc/logos/js.svg') no-repeat center;
}

/* Quelle: http://www.w3.org/html/logo/ */
.img_html5 {
    background: url('../images/doc/logos/HTML5 Logo.svg') no-repeat center;
}

/* Quelle: https://en.m.wikisource.org/wiki/File:Mozilla_Firefox_logo_2013.svg */
.img_firefox {
    background: url('../images/doc/logos/Mozilla_Firefox_logo_2013.svg') no-repeat center;
}

/* Quelle: https://git-scm.com/downloads/logos */
.img_git {
    background: url('../images/doc/logos/Git-Logo-2Color.png') no-repeat center;
    background-size: 150px !important;
}

/* Quelle: https://www.atlassian.com/company/news/press-kit */
.img_bitbucket {
    background: url('../images/doc/logos/Bitbucket-blue.svg') no-repeat center;
    background-size: 150px !important;
}

/* Quelle: Gruppe 2 */
.img_jsdoc3 {
    background: url('../images/doc/logos/jsdoc3.svg') no-repeat center;
    background-size: 150px !important;
}

.highlight {
    background-color: lavender;
    padding: 0 7px;
}

.pictureright_container {
    float: right;
    text-align: center;
    padding: 0 15px;
}

.pictureright_container img {
    max-width: 100%;
    max-height: 200px;
}

.clear {
    clear: both
}

span.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}

span.hiddenspace {
    display: none;
}

/*
            * * *    I D E N T I F I K A T O R E N   * * *
 */
#main {
    /* noch aus ESA1 - wird für die Projektseite nicht benötigt */
    position: relative;
}

#main:before {
    /* noch aus ESA1 - wird für die Projektseite nicht benötigt */
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: 0;
    bottom: 0;
    background-image: url('../images/doc/html5-spezifikations-uebersicht.svg');
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

#fstcanvtest {
    float: right;
    min-width: 30px;
    max-width: 35%;
    height: 450px;
}

/*
            * * *    C a n v a s   * * *
 */
#layer0 {
    /*position: absolute;/* left: 0; top: 0;*/ /*z-index: 0;*/
    background-color: transparent;
}

#layer1 {
    /*position: absolute;/* left: 0; top: 0;*/ /*z-index: 1;*/
    background-color: transparent;
    /*playground-color: bisque;*/
}

/*
            * * *    N a v i g a t i o n   * * *
 */
.navcolor {
    background-color: lightskyblue;
    color: black;
}

.navwrapper {
    /* zentriert */
    margin: 0 auto;
    width: 100%;
    height: 50px;
}

.nav {
    position: fixed;
    margin-top: 0;
    padding-left: 75px;
    width: 100%;

    /* Element als inline-level block container.
       Innerhalb des Elements wird alles als Block (wie z.B. <p>) formatiert,
       das Element selbst fungiert als inline Element (wie z. B. <span>) */
    display: inline-block;

    font-weight: bold;
}

.nav ul {
    list-style: none outside none;
    font-size: 1em;
    padding: 0;
    text-indent: 1em;
}

.nav-list {
    background-color: transparent
}

.nav-item {
    float: left;
    display: inline; /* Element soll inline (wie z. B. <span>) fungieren */
}

.nav-item a {
    font-family: "Amatic SC", Arial, sans-serif;
    display: block;
    padding: 5px 20px;
    color: black;
}

.nav-item a:hover {
    font-size: 2em;
    color: whitesmoke;
}

.nav-mobile {
    /* div mit dieser Klasse wird durch JS bei mobilen Geräten hinzugefügt (Button für Hamburger-Menu) */
    display: none; /* Anzeige bei Browser ohne media query Unterstützung unterbinden */
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: navy url("../images/doc/hamburger.svg") no-repeat center;
    height: 40px;
    width: 40px;
}

/*
            * * *    G e r ä t e   s p e z i f i s c h e s   C S S   * * *
 */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    /* Wenn der Browser eine Breite zwischen 320px und 768px darstellt, werden diese CSS Klassen verwendet */
    .innerwrapper {
        margin: 0;
        max-width: 99% !important;
        box-shadow: none !important;
    }

    .outerspeclist li {
        width: 90%;
    }

    .navwrapper {
        margin: 0;
        width: 100%;
        background-color: transparent !important;
        font-size: 2em;
    }

    .nav {
        margin: 0;
        padding: 20px;
        width: 99%;
    }

    .nav-mobile {
        display: block;
    }

    .nav-mobile-open {
        /* Hamburger Menu Button, wenn Menü geöffnet */
        background-color: orangered;
    }

    .nav-active {
        /* wird per document.js/toggle hinzugefügt - um display:none aus nav-list zu toppen !important notwendig */
        display: block !important;
    }

    .nav-list {
        display: none;
    }

    .nav-item {
        width: 99%;
        float: none;
    }

    .nav-item a:hover {
        color: whitesmoke;
        font-size: 1em;
    }
}