* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body {
    margin: 0;
    width:100%;
    height:100%;
    background-color: white;
    color: #2E2E2E;
    font-family: "Open Sans", Arial, sans-serif;
}

a, a:visited {
    color: DodgerBlue;
    text-decoration: none;
}
h1 {
    margin-bottom: 20px;
}
article {
    min-height: 400px;
    border: solid 1px silver;
    border-radius: 5px;
    margin: 80px 0 20px 0;
    padding: 40px;
}
p {
    margin: 25px 15px 25px 10px;
}

ul {
    list-style: square inside none;
    font-size: 0.85em;
    padding: 0 0 25px 30px;
    text-indent: -1em;
}

#main{
    position: relative;
}
#main:before {
    content : "";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: 0;
    bottom: 0;
    background-image: url('../images/esa1/html5-spezifikations-uebersicht.svg');
    width: 100%;
    height: 100%;
    opacity : 0.1;
}

.navwrapper {
    background-color: white;
    margin-top: 0;
    width: 80%;
    margin-left: auto;  /* zentriert*/
    margin-right: auto; /* zentriert*/
}

.nav {
    position: fixed;
    display: inline-block; /* Element als inline-level block container.
                                Innerhalb des Elements wird alles als Block (wie z.B. <p>) formatiert,
                                das Element selbst fungiert als inline Element (wie z. B. <span>) */
    font-weight: 700;
    width: 80%;
    /*background-color: navy;*/
}

.nav ul {
    list-style: none outside none;
    font-size: 1em;
    padding: 0;
    text-indent: 1em;
}

.nav-list {background-color: transparent}

.nav-item {
    background-color: transparent;
    float: left;
    display: inline;    /* Element soll inline (wie z. B. <span>) fungieren */
    zoom: 1%; /* zoom? */
}

.nav-item a {
    background-color: navy;
    display: block;
    padding: 5px 20px;
    color: #FFF;
}

.nav-item:first-child a {
    border-radius: 10px 0 0 25px;
}

.nav-item:last-child a {
    border-radius: 0 25px 10px 0;
}

.nav-item a:hover {
    background-color: #2c3e50;
}

.nav-mobile {
    /* div mit dieser Klasse wird durch JS bei mobilen Geräten hinzugefügt (Button für Hamburger-Menu) */
    display: none; /* Anzeige bei Browser ohne media query Unterstützung unterbinden */
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: navy url("../images/esa1/hamburger.svg") no-repeat center;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.innerwrapper {
    background-color: whitesmoke;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
    box-shadow: 0 0 100px black;
}

.img_text {
    font-size: 0.6em;
    margin-top: -20px;
}

canvas {
    /*position: absolute;*/
    /*border: 1px solid gold;*/
    /*!*width: 100%;*/
    /*height: 100%;*!*/
    /*!*background: transparent;*!*/
    /*left:0;*/
    /*top:0;*/
}

#layer0{
    /*position: absolute;/* left: 0; top: 0;*/ /*z-index: 0;*/
    background-color: transparent;
}

#layer1{
    /*position: absolute;/* left: 0; top: 0;*/ /*z-index: 1;*/
    background-color: transparent;
    /*background-color: bisque;*/
}




/* Geräte spezifisches CSS */

@media only screen and (min-width: 320px) and (max-width: 768px){
/* Wenn der Browser eine Breite zwischen 320px und 768px darstellt, werden diese CSS Klassen verwendet */
    .innerwrapper {
        width: 99%!important;
        box-shadow: none !important;
        margin: 0;
    }
    .navwrapper {
        width: 100%;
        margin: 0;
    }
    .nav {
        margin: 0;padding: 0;
        width: 99%;
        background: navy;
    }
    .nav-item {
        width: 99%;
        float: none;
    }

    .nav-item:first-child a {
        border-radius: 0;
    }

    .nav-item:last-child a {
        border-radius: 0;
    }

    .nav-mobile {
        display: block;
    }

    .nav-list {
        display: none;
    }
    .nav-active {
        display:block;
    }
    .nav-mobile-open {
        border-radius:5px 5px 0 0;
        -webkit-border-radius:5px 5px 0 0;
        -moz-border-radius:5px 5px 0 0;
    }

}