/*
            * * *    E L E M E N T E   &   S E L E K T O R E N   * * *
 */
* {
    /* Rand um die eigentliche Seite verhindern */
    margin: 0; padding: 0;
    /* alle Rahmen besitzen nun die gleiche Außengröße, Padding und Rahmenbreite haben darauf keinen Einfluss mehr */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    /*playground-color: lightskyblue;*/
    background: url('../images/game/page-bg.svg') repeat;
    font-family: "Open Sans", Arial, sans-serif;
    /*font-family: 'Shadows Into Light', cursive;*/
    font-size: 10pt;
    font-weight: 300;
    font-kerning: auto;
}
canvas {
    position: absolute;
    background-color: transparent;
    width:100%; /* Für die Optik der NoCanvas Fehlermeldung*/
}

/*
            * * *    K L A S S E N   * * *
 */
.error{
    background-color: coral;
    border: red 1px solid;
    text-align: center;
    font-size: 1.5em;
}
.nocanvas{
    position: relative!important;
    float:right;
    margin: 50px 0;
    width:100%!important;
}
.noscript{
    position: relative!important;
    float:right;
    margin: 140px 0;
    width:100%!important;
}
/* Modal für Fehlermeldungen */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.errModal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid darkred;
    width: 70%; /* Could be more or less, depending on screen size */
}
.errHeadlineArea { border-bottom: 2px solid darkred; padding-bottom: 20px; }
.errHeadlineImage {
    float: left; background: url(../images/game/sprites.png) no-repeat -80px -160px scroll; height: 40px; width: 40px;
}
.errHead { font-size: 1.5em; color: darkred; font-weight: bold; }
.errBodyArea { margin-top: 20px; }
.errCol { font-size: 0.75em; color: darkred; font-weight: bold;}
.errTxt { padding: 10px;}
.errClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.errClose:hover,
.errClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
            * * *    I D E N T I F I K A T O R E N   * * *
 */
#background{
    /* Wolkenhintergrund */
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#center {
    position: relative;
    margin: auto;
    /* initiale Höhe und Breite, damit das Spiel beim Aufbau nicht zu doll springt/flackert; wird ja im Anschluss per JS dynamisch gesetzt */
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
}
#divbackground {
    position: absolute;
    z-index: 1;
   /* left: 0;
    top: 0; */
    background-image: url('../images/game/background.svg');
    background-size: 100% 100%;  /* Hintergrundbild auf gesamtes Div ausgeben */
}
#game-bg-layer { z-index: 1; }
#divforeground {}
#game-fg-layer { z-index: 2; }
#divmessages {
    position:relative;
    display: none;
    z-index:0;
    width: 100%;height:100%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    font-family: 'Shadows Into Light', monospace;
    color: lightslategray;
    text-align: center;
    border: 10px dotted orangered;
}
#textlogo{
    width: 70%;
    padding: 7% 0;
}
#textheadline{
    font-size: 2em;
    font-weight: bold;
}
#textmessage{
    padding: 2% 4% 7% 4%;
    font-size: 1.7em;
}
#textToDo{
    padding: 2% 4% 7% 4%;
    font-size: 1.2em;
    color: black;
}

/*
        @ToDo: folgende Identifikatoren obsolet?
*/
/*#header { height: 10%; }*/
/*#layer1 { background-color: transparent; }*/
/*#labyrinth {*/
    /*background-color: slategrey;*/
    /*box-shadow: 0 0 100px black;*/
/*}*/